.containerJogos{
  /*background-color: rgb(235, 235, 235);*/
  max-width: 1280px;
  min-height: 710px;
  border-radius: 10px;
  margin: 20px auto;
  border: 1px solid rgb(235, 235, 235);
  box-sizing: content-box;
}

.tabelaJogos{
  display: flex;
  flex-flow: wrap;
  padding: 20px;
  gap: 20px;
}

.guia{
  display: flex;
  background-color: rgb(235, 235, 235);
  justify-content: space-between;
  /*box-shadow: 0px 1px 3px lightgray;
  border: 1px solid var(--primary-color);*/
  border-radius: 10px;
  
  font-size: 0.8em;
  align-items: center;
  max-width: 1280px;
  margin: auto;
}

.tituloGuia{
  color: var(--azul-marinho);
  text-transform: uppercase;
}

@media (max-width: 970px){
  .guia{
    margin: auto 20px;
  }
}

@media (max-width: 916px){
  .tabelaJogos{
    flex-flow: column;
  }
}

@media (max-width: 970px){
  .containerJogos{
    border-radius: 0px;
    background-color: #fff;
    margin: 0px;
    border: none;
  }
}