.guia{
  display: flex;
  background-color: white;
  justify-content: space-between;
  box-shadow: 0px 1px 3px lightgray;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  margin-bottom: 15px;
  font-size: 0.7em;
  align-items: center;
}

.btnVoltar{
  color: var(--primary-color);
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
  border-style: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  height: 3rem;
  width: 3rem;
  padding: 10px;
}

.btnAvancar{
  color: var(--primary-color);
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
  border-style: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  height: 3rem;
  width: 3rem;
  padding: 10px;
}

.btnAvancar:hover,
.btnVoltar:hover{
  box-shadow: 0px 0px 5px var(--primary-color);
}

.tituloGuia{
  color: var(--primary-color);
}

.tabelaJogos{
  display: flex;
  justify-content: space-between;
}

@media (max-width: 800px){
  .tabelaJogos{
    display: block;
  }
}